<a href="https://colab.research.google.com/github/jen0616/NF3-BIG-DATA-PROUNI/blob/main/Prouni.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Questão 2
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/jen0616/NF3-BIG-DATA-PROUNI/main/cursos-prouni.csv', sep = ',')
df = pd.DataFrame(data)
type(df)
df

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,NaN,NaN,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,NaN,NaN
1,Bacharelado,Noturno,9836.40,1.0,NaN,NaN,NaN,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,NaN,NaN,NaN
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,NaN,NaN,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,NaN,NaN
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41442,Licenciatura,Curso a Distância,149.00,1.0,NaN,NaN,NaN,994312865605,Sociologia,Paraiso do Tocantins,TO,MTcwMTAwNDE2MTA5,Universidade Paulista - UNIP,PARAISO DO TOCANTINS - Centro,9943,Sociologia,502.36,NaN,NaN,NaN
41443,Tecnológico,Curso a Distância,144.00,1.0,2.0,2.0,5.0,65868712869275,Marketing,Sao VIcente,SP,MzUxNTA2MzUxMDA5,Faculdade de São VIcente - FSV,UNIDADE SEDE - Centro,658687,Marketing,533.34,450.00,450.00,450.00
41444,Tecnológico,Vespertino,139.00,1.0,NaN,NaN,NaN,1056445674232,Gestão de Recursos Humanos,Brasilia,DF,NTMwMTAwMTAwMTA4,Centro Universitário Planalto do Distrito Fede...,DF03 - UNIDADE BRASIL CENTRAL - Taguatinga Nor...,1056445,Gestão de Recursos Humanos,580.76,NaN,NaN,NaN
41445,Bacharelado,Curso a Distância,139.00,1.0,NaN,NaN,NaN,96781210935,Serviço Social,Vitoria,ES,MzIwMzAwOTA1MzA5,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,9678,Serviço Social,548.26,NaN,NaN,NaN
41446,Tecnológico,Curso a Distância,139.00,3.0,1.0,NaN,NaN,200467412868575,Gestão Ambiental,Santarem,PA,MTUwMTAwMjA2ODA3,Universidade Paulista - UNIP,SANTARÉM - Fátima,2004674,Gestão Ambiental,605.32,573.70,NaN,NaN

In [3]:
#Questão 2 letra A

df = df.fillna(0)
df

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,cidade_filtro,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,0.0,0.0,706710394154,Medicina,Campo Grande,MS,NTAwMjAwNDAyNzA0,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,0.00,0.00
1,Bacharelado,Noturno,9836.40,1.0,0.0,0.0,0.0,104191210567043,Enfermagem,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,0.00,0.00,0.00
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,MzUxNTA2MTUwMzA4,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,0.0,0.0,104191212798093,Psicologia,Crateus,CE,MjMwNDAxODA0MTAz,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,0.00,0.00
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,MTIwMjAwNDAwNDAx,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41442,Licenciatura,Curso a Distância,149.00,1.0,0.0,0.0,0.0,994312865605,Sociologia,Paraiso do Tocantins,TO,MTcwMTAwNDE2MTA5,Universidade Paulista - UNIP,PARAISO DO TOCANTINS - Centro,9943,Sociologia,502.36,0.00,0.00,0.00
41443,Tecnológico,Curso a Distância,144.00,1.0,2.0,2.0,5.0,65868712869275,Marketing,Sao VIcente,SP,MzUxNTA2MzUxMDA5,Faculdade de São VIcente - FSV,UNIDADE SEDE - Centro,658687,Marketing,533.34,450.00,450.00,450.00
41444,Tecnológico,Vespertino,139.00,1.0,0.0,0.0,0.0,1056445674232,Gestão de Recursos Humanos,Brasilia,DF,NTMwMTAwMTAwMTA4,Centro Universitário Planalto do Distrito Fede...,DF03 - UNIDADE BRASIL CENTRAL - Taguatinga Nor...,1056445,Gestão de Recursos Humanos,580.76,0.00,0.00,0.00
41445,Bacharelado,Curso a Distância,139.00,1.0,0.0,0.0,0.0,96781210935,Serviço Social,Vitoria,ES,MzIwMzAwOTA1MzA5,Universidade Paulista - UNIP,VITORIA I - Barro Vermelho,9678,Serviço Social,548.26,0.00,0.00,0.00
41446,Tecnológico,Curso a Distância,139.00,3.0,1.0,0.0,0.0,200467412868575,Gestão Ambiental,Santarem,PA,MTUwMTAwMjA2ODA3,Universidade Paulista - UNIP,SANTARÉM - Fátima,2004674,Gestão Ambiental,605.32,573.70,0.00,0.00

In [4]:
#Questão 2 letra B

grupo = df.groupby('grau')
grupo.describe()

             mensalidade                                                \
                   count        mean         std    min     25%    50%
grau
Bacharelado      19165.0  897.547554  765.639255  139.0  417.14  788.0
Licenciatura      8802.0  363.993280  237.634550  149.0  239.00  299.0
Tecnológico      13480.0  400.672596  245.188479  139.0  270.00  299.0

                               bolsa_integral_cotas            ...  \
                  75%      max                count      mean  ...
grau                                                           ...
Bacharelado   1130.00  9999.99              19165.0  1.579024  ...
Licenciatura   367.66  8466.72               8802.0  1.071802  ...
Tecnológico    440.59  4279.28              13480.0  0.759273  ...

             nota_parcial_ampla         nota_parcial_cotas             \
                            75%     max              count       mean
grau
Bacharelado             535.580  776.36            19165.0  80.377137
Licenciatura            486.675  724.08             8802.0  60.895490
Tecnológico             461.920  713.20            13480.0  55.503877


                     std  min  25%  50%  75%     max
grau
Bacharelado   192.739513  0.0  0.0  0.0  0.0  768.34
Licenciatura  161.931722  0.0  0.0  0.0  0.0  642.84
Tecnológico   154.742778  0.0  0.0  0.0  0.0  632.86

[3 rows x 88 columns]

In [5]:
#Questão 2 letra C, P1

grupo = df.groupby('curso_busca')
grupo.get_group('Matemática').groupby('curso_busca').std()

<ipython-input-5-4c8931b12755>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupo.get_group('Matemática').groupby('curso_busca').std()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
curso_busca,,,,,,,,,,,
Matemática,197.351107,0.817634,1.640499,0.613139,5.454345,7.524799e+13,753994.724544,267.497314,200.007611,260.767585,154.629804

In [6]:
#Questão 2 letra C, P2

grupo = df.groupby('curso_busca')
grupo.get_group('Medicina').groupby('curso_busca').std()

<ipython-input-6-a46a4e72c5b6>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupo.get_group('Medicina').groupby('curso_busca').std()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
curso_busca,,,,,,,,,,,
Medicina,1085.360331,3.339949,3.650074,1.772314,1.780139,3.731167e+13,340036.374311,95.374464,255.336844,295.338992,273.15019

In [7]:
#Questão 2 letra C, P3

grupo = df.groupby('curso_busca')
grupo.get_group('Pedagogia').groupby('curso_busca').std()

<ipython-input-7-95f0027ec0e5>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grupo.get_group('Pedagogia').groupby('curso_busca').std()

,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,campus_id,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
curso_busca,,,,,,,,,,,
Pedagogia,185.358843,3.084422,2.990498,3.526329,10.606661,3.694682e+13,640945.85807,166.844065,261.118954,240.440827,188.632568

In [8]:
#Questão 2 letra D

df.groupby('uf_busca')['nota_integral_ampla', 'nota_integral_cotas', 'nota_parcial_ampla', 'nota_parcial_cotas'].mean()

<ipython-input-8-3c9e4ec7ef3d>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('uf_busca')['nota_integral_ampla', 'nota_integral_cotas', 'nota_parcial_ampla', 'nota_parcial_cotas'].mean()

,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
uf_busca,,,,
AC,458.099901,156.102463,377.265517,212.541084
AL,501.155719,330.490703,157.449541,68.363425
AM,469.471748,260.839068,143.712308,15.045921
AP,463.846758,255.750228,187.748402,26.521826
BA,450.464327,173.424495,236.860926,82.537541
CE,466.679485,303.281814,253.300637,99.468995
DF,500.669690,253.512719,214.898589,116.702747
ES,489.735248,272.410255,247.212582,118.716509
GO,451.565133,257.732034,196.332582,83.961017
MA,472.301237,214.449426,302.875876,89.579647
MG,467.660383,264.319157,215.966946,54.358740
MS,416.811771,249.111873,214.530726,77.627949
MT,408.372681,195.742201,192.649426,69.449087
PA,417.324563,186.154704,229.908476,32.657186
PB,522.155034,349.770034,159.788054,50.852987
PE,478.245087,329.127875,167.999129,31.220801
PI,520.399062,349.144198,169.072099,72.534173
PR,394.587238,169.023532,279.818387,108.833430
RJ,512.829653,269.802497,152.497101,43.754910
RN,540.054620,353.321813,181.841637,118.925906
RO,480.016156,278.263240,284.483672,163.669892
RR,478.030450,175.572973,133.120721,30.790631
RS,453.932412,102.551425,176.735987,14.685693
SC,395.498159,81.029576,201.267244,8.684328
SE,550.274737,426.140929,144.429845,109.610093
SP,450.215139,261.752685,190.642374,73.886278
TO,493.146647,287.031020,130.323907,33.371720

In [9]:
#Questão 2 letra E

grupo = df.groupby('grau')
grupo.get_group('Tecnológico').groupby('grau').describe()

            mensalidade                                                       \
                  count        mean         std    min    25%    50%     75%
grau
Tecnológico     13480.0  400.672596  245.188479  139.0  270.0  299.0  440.59

                     bolsa_integral_cotas            ... nota_parcial_ampla  \
                 max                count      mean  ...                75%
grau                                                 ...
Tecnológico  4279.28              13480.0  0.759273  ...             461.92

                   nota_parcial_cotas                                        \
               max              count       mean         std  min  25%  50%
grau
Tecnológico  713.2            13480.0  55.503877  154.742778  0.0  0.0  0.0


             75%     max
grau
Tecnológico  0.0  632.86

[1 rows x 88 columns]

In [10]:
#questão 2 letra F

grupo = df.drop(columns = ['cidade_filtro'])
grupo.head()

,grau,turno,mensalidade,bolsa_integral_cotas,bolsa_integral_ampla,bolsa_parcial_cotas,bolsa_parcial_ampla,curso_id,curso_busca,cidade_busca,uf_busca,universidade_nome,campus_nome,campus_id,nome,nota_integral_ampla,nota_integral_cotas,nota_parcial_ampla,nota_parcial_cotas
0,Bacharelado,Integral,9999.99,15.0,14.0,0.0,0.0,706710394154,Medicina,Campo Grande,MS,Universidade Anhanguera - UNIDERP,CAMPO GRANDE - SEDE - Miguel Couto,706710,Medicina,740.22,726.46,0.00,0.00
1,Bacharelado,Noturno,9836.40,1.0,0.0,0.0,0.0,104191210567043,Enfermagem,Crateus,CE,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Enfermagem,663.36,0.00,0.00,0.00
2,Bacharelado,Integral,9715.61,2.0,5.0,6.0,10.0,1002328574024,Medicina,Sao Paulo,SP,Universidade Cidade de São Paulo - UNICID,UNIVERSIDADE CIDADE DE SÃO PAULO - UNICID - SE...,1002328,Medicina,739.62,738.08,738.96,718.64
3,Bacharelado,Noturno,9689.34,3.0,2.0,0.0,0.0,104191212798093,Psicologia,Crateus,CE,Faculdade Princesa do Oeste - FPO,UNIDADE SEDE - São Vicente,1041912,Psicologia,651.00,652.22,0.00,0.00
4,Bacharelado,Integral,9674.34,4.0,1.0,5.0,2.0,65899611932754,Medicina,Rio Branco,AC,Faculdade Barão do Rio Branco - FAB,CAMPUS - RIO BRANCO - JARDIM EUROPA II - Jard...,658996,Medicina,758.32,723.94,734.92,711.26

In [11]:
#Questão 2 letra G

grupo = df[df['curso_busca'] == 'Medicina']

media = grupo['mensalidade'].mean()
print ("A média das mensalidades é: ", media)

A média das mensalidades é:  7168.341532258064

In [12]:
#Questão 2 letra H

grupo_nota = df[df['turno'] == 'Integral']

media = grupo_nota['nota_integral_ampla'].mean()
print ("A média das notas é: ", media)

A média das notas é:  605.07878125

In [13]:
#Questão 2 letra I

bacharelado_integral = df[(df['grau'] == 'Bacharelado') & (df['nota_integral_ampla'])]

notas = bacharelado_integral['nota_integral_ampla'].describe()
notas

count    15911.000000
mean       603.084487
std         49.863617
min        450.000000
25%        575.440000
50%        605.480000
75%        633.900000
max        781.200000
Name: nota_integral_ampla, dtype: float64

In [ ]:
#Questão 2 letra J

grupo = df.groupby('grau')['nota_integral_cotas'].std()
grupo = df.plot(x = 'grau', y = 'nota_integral_cotas', kind = 'bar')